# -------------------------
# Python
# -------------------------
__pycache__/
*.pyc
*.pyo
*.pyd
*.py[cod]

# -------------------------
# Virtual Environments
# -------------------------
venv/
.venv/

# -------------------------
# Build Artifacts
# -------------------------
build/
dist/

# -------------------------
# Logs
# -------------------------
*.log

# -------------------------
# Machine Learning
# -------------------------
datasets/
models/checkpoints/
models/weights/
*.pt
*.pth
*.onnx

# -------------------------
# Outputs
# -------------------------
outputs/
runs/

# -------------------------
# Jupyter
# -------------------------
.ipynb_checkpoints/

# -------------------------
# IDE
# -------------------------
.vscode/
.idea/

# -------------------------
# OS Files
# -------------------------
.DS_Store
Thumbs.db

# -------------------------
# Temporary Files
# -------------------------
temp/